
<!DOCTYPE html>
<html>

<head>
  <title>Manufactor Registration</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />

</head>

<body>

 
    <input type="text" id="companyname" placeholder="CompanyName" required />
    <br /><br />
    <input type="number" id="regno" placeholder="RegNo" required />
    <br /><br />
    <input type="text" id="product" placeholder="production item" required />
    <br /><br />
    <input type="text" id="place" placeholder="place" required />
    <br /><br />
    
    
    <input type="submit" id= "setMuf" value="Submit" />
  
  <br /><br /><br />

  <form action="/getMuf" method="GET">
    <input type="number" id="regno" name="regno" placeholder="reg No" />
    <input type="submit" id="getMuf" value="Search" />
  </form>
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script>

document.getElementById("setMuf").addEventListener("click", setMuf, false);
function setMuf(){
  $.post("/setMuf",
        {

          companyname : document.getElementById("companyname").value,

          regno : document.getElementById("regno").value,

          product : document.getElementById("product").value,

          place : document.getElementById("place").value

        },
        function (tx, status) {
          console.log("Data: " + tx + "\nStatus: " + status);
          if (status == "success") {
            
            alert(tx);

          }
        });
    }

   

  </script>
  
</body>

</html>