<!DOCTYPE html>
<html>
  <head>
    <title>Manufactor Registeration</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Manufactor Registeration</h1>
   
    companyname: <%= val[0] %><br>
    RegisterationNO: <%= val[2] %><br>
    Production Item: <%= val[1] %><br>
    Place: <%= val[3] %><br>

  </body>
</html>
