<!DOCTYPE html>
<html>
  <head>
    <title>Medicine Registeration</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Medicine Details</h1>
   <%
    var expDate = new Date(val1[3] * 1000);
   var mfgDate = new Date(val1[2]*1000);
   %>
   
   
    MedicineBatchid: <%= val1[0] %><br>
    GenericName: <%= val1[1] %><br>
    ManufactorDate: <%= mfgDate.toGMTString() %><br>
    ExpiryDate: <%=expDate.toGMTString() %><br>
    MedicinePrize: <%= val1[4]%><br>




  </body>
</html>
