<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Medicine set operation</title>
</head>
<body>
    
    <!-- <form action="/muf/setMed" method="POST"> -->
        
        
        <input type="number" id="batchid" placeholder="medicine batchnumber" required />
        <br /><br />
        <input type="text" id="genericname" placeholder="medicine name" required />
        <br /><br />
        <input type="number" id="month" placeholder="duration of medicine" required />
        <br /><br />
        <input type="number" id="price" placeholder="medicine price" required />
        <br /><br />
        
        <input type="submit" id="setMed" value="Submit" />
      <!-- </form> -->

      <br /><br /><br />
      <form action="/muf/getMed" method="GET">
        <input type="number" id="batchid" name="batchid"  placeholder="medicineBatch No" />
        <input type="number" id="regno" name="regno"  placeholder="regno No" />
        <input type="submit" value="Search" />
      </form>
    
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script>
    
    document.getElementById("setMed").addEventListener("click", setMed, false);
    // document.getElementById("getMed").addEventListener("click", getMed, false);


    function setMed(){
      $.post("/setMuf",
            {
    
              Medicinebatchnumber : document.getElementById("batchid").value,
    
              medicinename : document.getElementById("genericname").value,
    
              Month : document.getElementById("month").value,
    
              price : document.getElementById("price").value
    
            },
            function (tx, status) {
              console.log("Data: " + tx + "\nStatus: " + status);
              if (status == "success") {
                
                alert(tx);
    
              }
            });
        }

      //   function getMed(){
      // $.get("/getMuf",
      //       {
      //         batchid:document.getElementById("batchid").value,
      //         regno:document.getElementById("regno").value
             
    
      //       },
      //       function (tx, status) {
      //         console.log("Data: " + tx + "\nStatus: " + status);
      //         if (status == "success") {
                
      //           alert(tx);
    
      //         }
      //       });
      //   }
    
  
    
      </script>

      
</body>
</html>