<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Shop Details</title>
</head>
<body>
        <%
        var expDate = new Date(val2[4] * 1000);
       var mfgDate = new Date(val2[3]*1000);
       %>
       
    ShopName: <%= val2[0] %><br>
    CompanyName: <%= val2[1] %><br>
    GenericName: <%= val2[2] %><br>
    ManufactorDate: <%= mfgDate.toGMTString() %><br>
    ExpiryDate: <%=expDate.toGMTString() %><br>
    MedicinePrize: <%= val2[5]%><br>



</body>
</html>