<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form action="/shp/setShop" method="POST">

        <input type="number" name="shopid" placeholder="SHOP_ID" required />
        <br /><br />
        <input type="text" name="shopname" placeholder="SHOP_NAME" required />
        <br /><br />
        
        <input type="submit" value="Submit" />
      </form>
      <br /><br /><br />
      <form action="/shp/getShop" method="POST">
        <input type="number" name="shopid"  placeholder="shop No" />
        <input type="number" name="batchid"  placeholder="medicineBatch No" />
        <input type="number" name="regno"  placeholder="regno No" />
        <input type="submit" value="Search" />
      </form>

</body>
</html>